{% extends 'base.html.twig' %}

{% block body %}
    <div class="mt-5 text-center">
        <p class="h5">
            {{ 'text.confirmUnsubscribtionQuestion'|trans({}, 'LleHermesBundle') }}
        </p>
        <p>
            {{ email }}
        </p>

        <p>
            <a href="{{ path('confirm_unsubscribe', {'email': email, 'token': token}) }}" class="btn btn-primary">{{ 'text.confirmUnsubscribtion'|trans({}, 'LleHermesBundle') }}</a>
            <a href="{{ path('cancel_unsubscribe', {'email': email, 'token': token}) }}" class="btn btn-primary">{{ 'text.cancelUnsubscribtion'|trans({}, 'LleHermesBundle') }}</a>
        </p>
    </div>
{% endblock %}
