<div class="row mb-2 align-items-center">
    <div class="col-md-4">
        {# Display the number of items #}
        {% if total > 0 %}
            {{ 'pagination.items'|trans({}, 'LleHermesBundle') }}
            <b>
                {{ from }} {{ 'pagination.to'|trans({}, 'LleHermesBundle') }} {{ to }}
            </b> {{ 'pagination.of'|trans({}, 'LleHermesBundle') }} {{ total }}
        {% else %}
            {{ 'pagination.noItem'|trans({}, 'LleHermesBundle') }}
        {% endif %}
    </div>

    <nav class="col-md-8" aria-label="navigation">
        <ul class="pagination justify-content-center justify-content-md-start mb-0">

            {# Display the 'previous' actions #}
            {% if page > 1 %}
                <li class="page-item">
                    <a
                            class="page-link"
                            href="{{ path('lle_hermes_dashboard', {'page': 1}) }}"
                            title="{{ 'pagination.firstPage'|trans({}, 'LleHermesBundle') }}"
                            aria-label="{{ 'pagination.first'|trans({}, 'LleHermesBundle') }}">
                        <i class="fa fa-angle-double-left"></i>
                    </a>
                </li>

                <li class="page-item">
                    <a
                            class="page-link"
                            href="{{ path('lle_hermes_dashboard', {'page': page - 1}) }}"
                            title="{{ 'pagination.previousPage'|trans({}, 'LleHermesBundle') }}"
                            aria-label="{{ 'pagination.previous'|trans({}, 'LleHermesBundle') }}">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
            {% endif %}

            {# Display the 'page number' actions #}
            {% if total_pages > 1 %}
                {% for p in range(max(1, page - 2), min(total_pages, page + 2)) %}
                    <li class="page-item {% if page == p %}active{% endif %}">
                        <a
                                class="page-link"
                                href="{{ path('lle_hermes_dashboard', {'page': p}) }}"
                                title="{{ 'pagination.goToPage'|trans({'%nb%': p}, 'LleHermesBundle') }}">{{ p }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}

            {# Display the 'next' actions #}
            {% if page < total_pages %}
                <li class="page-item">
                    <a
                            class="page-link"
                            href="{{ path('lle_hermes_dashboard', {'page': page + 1}) }}"
                            title="{{ 'pagination.nextPage'|trans({}, 'LleHermesBundle') }}"
                            aria-label="{{ 'pagination.next'|trans({}, 'LleHermesBundle') }}">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a
                            class="page-link"
                            href="{{ path('lle_hermes_dashboard', {'page': total_pages}) }}"
                            title="{{ 'pagination.lastPage'|trans({}, 'LleHermesBundle') }}"
                            aria-label="{{ 'pagination.last'|trans({}, 'LleHermesBundle') }}">
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
